<tr>
  <td valign="top" width="280" class="leftColumnContent">
    <%= yield_content! :left_side %>
  </td>
  <td valign="top" width="280" class="rightColumnContent">
    <%= yield_content! :right_side %>
  </td>
</tr>
