<h1>New Customer Warranty Dataload</h1>

<p>Add a file to the database.</p>

<%= form_for @dataload_manual, { :html => {:multipart => true} }  do |f| %>

 <p>
   <%= f.file_field :dataload %>
 </p>
 <p><%= f.submit %></p>
<% end %>
