<h1>View Customer Records<h1>
<p>We will be able to view customer records from this screen<br
  TODO: 1. need form fields to enable searching<br>
  2. what will be enabled for searching? email, name, address, customer id<br>
  3. what fields will be returned? probably a vertical layout</p>
