/* This file is included as part of the Meta theme from
 RailsThemes.com, which is licensed for use in a single website. The
 license can be found in the doc folder of this application or at
 railsthemes.com/terms. */

@import "base";

div.pagination {
  display: block;
  min-height: 24px;
  margin: 10px 0;
  span, em, a {
    @include border-radius(3px);
    display: block;
    float: left;
    margin-left: 6px;
    padding: 3px 9px 3px 7px;
  }
  span, em, a {
    border: 1px solid $pagination-border;
  }
  a { text-decoration: none; }
  em.current, a:hover, a:focus {
    background-color: $pagination-active-background;
    border: 1px solid $pagination-active-background;
    color: white;
    font-style: normal;
  }
  .next_page, .previous_page {
    border: 1px solid $body-background;
    background-color: transparent;
    font-weight: bold;
  }
}
