<div id="footer">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <h4>The MIND Analytics Platform</h4>
        <p>
          <a href="mailto:jason@marketingscience.co">jason@marketingscience.co</a>
          <br>

          123.456.7890
        </p>
        <p>
          <a class="button important" href="#">Contact Us</a>
        </p>
      </div>
      <div class="one-third column">
        <p>
          MIND is a Marketing Intelligence and Neutral Dashboarding platform-as-a-service to manage your varied data sources and dashboards.
        </p>
        <p class="copyright">Copyright © 2012 The Marketing Science Department, LLC.<br />All Rights Reserved.</p>
      </div>
      <div class="one-third column">
        <ul class="navigation">
          <li>
            <a href="http://www.marketingscience.co/about-us" title="About">About</a>
          </li>
          <li>
            <a href="http://www.marketingscience.co/" title="Blog">Blog</a>
          </li>
          <li>
            <a href="http://www.marketingscience.co/contact-us" title="Contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
